body {
    height: auto !important;
    min-height: 100vh;
    width: 100%;
}

p {
    font-size: 1.3em;
}

.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;

}

.navbar-default .nav > li > a {
      font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 14px;
    -o-transition: 0.7s;
    -ms-transition: 0.7s;
    -moz-transition: 0.7s;
    -webkit-transition: 0.7s;
    transition: 0.7s;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #2f5151;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #91e25f;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #91e25f !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
    -o-transition: 0.7s;
    -ms-transition: 0.7s;
    -moz-transition: 0.7s;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #2f5151;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #91e25f;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #2f5151;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #91e25f;
  }
}

.main-navbar {
    background-color: transparent;
}

.sesh-icon-bar {
    background-color: white;
}

.sesh-navbar-font {
    color: white;
    font-size: 1.2em;
}

.sesh-navbar-toggle {
    border: 1px white solid;
}

#sesh-brand {
    font-size: 1.8em;
}

header {
    background: url("../img/background.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: auto;
    overflow-y: hidden;
    color: white;
}
header .header-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
}
header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
header .header-content .header-content-inner .list-badges {
  margin-bottom: 25px;
}
header .header-content .header-content-inner .list-badges img {
  height: 50px;
  margin-bottom: 25px;
}
header .device-container {
  max-width: 300px;
  margin: 0 auto 100px;
}
header .device-container .screen img {
  border-radius: 3px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    text-align: left;
    padding: 0;
    height: 100vh;
  }
  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  header .header-content .header-content-inner h1 {
    font-size: 35px;
  }
  header .device-container {
    max-width: none;
    max-height: calc(0vh);
    margin: 100px auto 0;
  }
}
@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
}

.btn {
    font-size: 28px;
    color: white;
    border: 1px white solid;
    border-radius: 40px;
    padding: 4%;
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.btn:hover {
    background-color: rgba(104, 235, 242, 0.7);
    color: white;
    border-color: rgba(104, 235, 242, 0.7);
}

section {
  padding: 48px 0;
}

section h2 {
    font-size: 52px;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center; 
    margin-bottom: 60px;
    color: darkslategrey;
    padding: 1%;
}

section#experience {
    background: url("../img/backgroundgif.gif");
    background-size: cover;
}

section#experience p {
    color: darkslategrey;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3.0vh;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.experience-slide {
    width: 75%;
    margin: auto;
    font-size: 175%;
    padding: 4%;
    display: none;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.8s;
    animation-name: fade;
    animation-duration: 1.8s;

}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  padding: 0.7%;
  margin-left: 1.5%;
}

#dots {
    margin-left: -1.5%;
}

.slide-active, .dot:hover {
  background-color: #1e8481;
}

