input[type="number"] {
  width: 3em;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    display:inline;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}

.large-text-input {
  display: block;
  margin: auto;
  width: 60%;
  height: 50px;
  font-family: sans-serif;
  font-size: 24px;
  appearance: none;
  box-shadow: none;
  border-radius: 5px;
}
.large-text-input:focus {
  outline: none;
}

.suggestion-list {
  display: block;
  margin: auto;
  width: 60%;
  height: 50px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 5px;
}

.suggestion-list:focus {
  outline: none;
}

.query-title{
	text-align: center;
	    display: block;
	    font-size: 24px;
}

.import-title{
	text-align: center;
	    display: block;
	    font-size: 24px;
	    color: black;
}

.radio-label{
background-color:blue;
width:auto;
}

.stars-results {
	float: left;
	height: 100%; 
	width: 60%;
	margin: 30px 0px 0px 30px;
}

.left-div {
	display: inline-block;
	float: left;
	width: 30%;
}

.center-div {
    display: table-cell;
    float: 
    vertical-align: middle;
    height: 150px;
    width: 1500px;
}

.query-box {
    font-family: Helvetica-Light;
    color: #d8d8d8;
    border-radius: 5px;
    padding: 5px 20px 20px 20px;
    margin: 0px 0px 0px 30px;
    background-color: #1b2f4a;
    -webkit-user-select: none;
}

.query-description {
    font-family: Helvetica-Light;
    color: white;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 0px 0px;
    background-color: #1b2f4a;
    -webkit-user-select: none;
}

.filepicker-box {
    font-family: Helvetica-Light;
    color: black;
    border-radius: 5px;
    padding: 5px 20px 20px 20px;
    margin: 0px 0px 0px 30px;
    background-color: #ebaf69;
    -webkit-user-select: none;
}

.results-table {
    width: 100%;
    background-color: white;
}

body {
    background-color: #296972;
}