html, body {
	height: 100%;
	width: 100%;
	margin: 0;
/*	overflow: hidden;*/
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background: rgba(147,206,222,1);
	background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(93,240,186,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(93,240,186,1)));
	background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(93,240,186,1) 100%);
	background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(93,240,186,1) 100%);
	background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(93,240,186,1) 100%);
	background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(93,240,186,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#5df0ba', GradientType=1 );
	color: white;
}

#header {
	text-align: center;
	font-size: 450%;
	letter-spacing: 10px;
}

#login {
	display: flex !important;
	margin-left: 5% !important;
	margin-right: 5% !important;
	margin-top: 10% !important;
}

#loginButton {
	background-color: #72d8d0 !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	letter-spacing: 2px !important;
	font-size: 350% !important;
	padding: 4% !important;
	color: white !important;
	border: solid !important;
	border-width: 4px !important;
	border-color: white !important;
	border-radius: 20px !important;
	text-align: center !important;
	text-decoration: none !important;
	cursor: pointer !important;
	margin: auto !important;
	transition: background-color 0.4s linear !important;
	box-shadow: 8px 8px 5px 5px #298279 !important;
}

h1 {
	margin: 2% 0% 0% 0%;
}

.createJoin {
	background-color: #72d8d0;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
	font-size: 450%;
	padding: 10%;
	color: white;
	border: solid;
	border-width: 4px;
	border-color: white;
	border-radius: 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin: auto;
	transition: background-color 0.4s linear;
	box-shadow: 8px 8px 5px 5px #298279;
}

.createJoin:focus {
	outline: none;
}

.createJoin:hover {
	transition: background-color 0.4s linear;
	background-color: #39aeb2;
}

#createJoin {
	width: 100%;
	height: 100%;
	margin-top: 10%;
	display: flex;
	justify-content: space-around;
}

#titles {
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
}

.footerButtons {
	background-color: #72d8d0;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
	/*font-size: 20px;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;*/
	/*width: 15%;*/
	padding: 1%;
	width: 15%;
	font-size: 120%;
	color: white;
	border: solid;
	border-width: 4px;
	border-color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin: auto;
	transition: background-color 0.4s linear;
}

.footerButtons:hover {
	transition: background-color 0.4s linear;
	background-color: #39aeb2;
}

.errorRequired {
	font-size: 60%;
	color: red;
}

#helpPrivacy {
	display: inline-flex;
	height: 100%;
	width: 100%;
}

.help-tip{
	margin-right: 2%;
	margin-top: 1.5%;
	position: relative;
	text-align: center;
	background-color: cadetblue;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	font-size: 16px;
	line-height: 26px;
	cursor: default;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}

.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;
	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{	/* The tooltip */
	display: none;
	z-index: 200;
	text-align: left;
	background-color: #1E2021;
	padding: 20px;
	width: 300px;
	position: relative;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color: #FFF;
	font-size: 16px;
	line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
/*	position: absolute;*/
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
/*	position: absolute;*/
	top:-40px;
	left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}

#form-wrapper {
	width: 100%;
	margin-top: 5%;
}

#create_sesh {
	background: rgba(255, 255, 255, 0.4);
	font-size: 200%;
	width: 50%;
	padding: 2%;
	margin: 0 auto;
	box-shadow: 0 0px 80px 1px #298279, 0 0px 20px 1px #298279
}

#create_sesh form {
	width: 50%;
	margin-left: 25%;
}

#create_sesh label, #create_sesh input {
	display: block;
	margin-bottom: 5%;
}

#create_sesh input[type="text"] {
	color: #3f7a84;
	width:100%;
}

input#private_sesh, input#public_sesh {
	margin-top: 7%;
	transform: scale(2);
	width: 20%;
}

input#private_sesh:hover, input#private_sesh:hover {
	outline:none;
}

#privacy_settings {
	display: inline-flex;
	width: 70%;
	margin-left: 3%;
	justify-content: space-between;
	margin-bottom: 5%;
}

#passwordDiv {
	font-size: 80%;
	display: inline-flex;
}

#passwordDiv label {
	padding-bottom: 1px;
}

input#accessCode {
	height: 50%;
	margin-top: 5%;
}

#deviceRefresh {
	font-size:70%;
	width:150%;
	margin-left:-20%;
	text-align: center;
	display: inline-flex;
}

#deviceList li {
	padding: 1%;
	padding-left: 3%;
}

#refresh{
	background-color: #72d8d0;
	border: 4px solid white;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 2%;
	border-radius: 75%;
	margin: auto;
	margin-left: 3%;
}

#refresh:focus{
	outline: none;
}

#refresh:hover {
	transition: background-color 0.4s linear;
	background-color: #39aeb2;
}

#loadingDevices {
	margin: auto;
}

.partyHover {
	background-color: #6dc6b5;
}

.deviceSelected {
	background-color: #5aafc4;
}

#formSubmit {
	background-color: #72d8d0;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
	/*font-size: 20px;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;*/
	/*width: 15%;*/
	padding: 1%;
	width: 60%;
	font-size: 120%;
	color: white;
	border: solid;
	border-width: 4px;
	border-color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin: auto;
	transition: background-color 0.4s linear;
}

#formSubmit:hover {
	transition: background-color 0.4s linear;
	background-color: #39aeb2;
}

#loadingParties {
	padding-left: 3%;
	color: white;
}

#noActiveSesh {
	color: white;
	padding-left: 3%;
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

#loadingParties span {
	font-size: 200%;
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

#loadingParties span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

#loadingParties span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}

.list-wrapper {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-around;
}

.tabContentPlaylist {
	width: 47%;
	height: 100%;
	background-color: white;
	overflow-y: scroll;
	font-size: 150%;
}


.tabContentOptions, .tabContentOptionsGuest {
	width: 50%;
	height: 100%;
}

.tabContentPlaylistGuest, .tabContentRequestGuest {
	width: 75%;
	height: 100%;
	background-color: white;
	overflow-y: scroll;
	font-size: 150%;
}

.tabContentPlaylist ul, .tabContentPlaylistGuest ul, .tabContentRequestGuest ul {
	padding: 0 0 0 6%;
	height: 90%;

}

.tabContentPlaylist li, .tabContentRequestGuest li, .tabContentPlaylistGuest li {
	margin-left: -4%;
	color: black;
	width: 102%;
	height: 17%;
	border-top: 3px solid #81c1db;
	padding-left: 1%;
	padding-top: 1%;
	background-color: white;
}

#songartist {
	font-size: 85%;
}

#songtitle {
	font-size: 97%;
}

.sortable-placeholder {
	border: 1px dashed #969696;
	background: #dbdbdb;
}

.sortable-dragging {
	background-color: #8fd4e8;
}

.tabContentSearch, .tabContentSearchGuest, .tabContentFavorites, .tabContentFavoritesGuest  {
	width: 75%;
	height: 100%;
	background-color: white;
	display: block;
	text-align: center;
}

.tabContentFavorites, .tabContentFavoritesGuest {
	width: 75%;
	height: 100%;
	background-color: white;
	display: block;
	text-align: center;
}

#footer {
	width: 100%;
	height: 15%;
	display: inline-flex;
/*	padding: 1.5%;
	padding-left: 27.5%;*/
}

#footer button.active {
	background-color: #39aeb2;
}

#footer button:focus {
	outline: none;
}

#party-list {
	width: 96%;
	height: 60%;
	background-color: #72d8d0;
	margin-left: 2%;
	color: black;
	font-size: 150%;
	overflow-y: auto;
	box-shadow: 0 0px 50px 1px #298279, 0 0px 20px 1px #298279
}

#party-list ul {
	padding-left: 6%;
	font-size: 200%;
	width: 92%;
	color: white;
}

#party-list li {
	width: 96%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
}

#partySubmit {
	margin-left: 40%;
	margin-top: 2%;
}

#songdiv {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
}

#scorediv {
	float:right;
	padding-right: 1.5%;
}


#public_sesh {
    margin-left: 45%;
}


#private, #public {
	height: 100%;
	font-size: 80%;
}

#private_sesh {
    margin-left: 45%;
}



.upvote, .downvote {
	background: none;
	border: none;
	float:right;
}

.upvote:focus, .downvote:focus {
	outline: none;
}

.material-icons {
	color: #b5b5b5;
}

.search {
	width: 90%;
	height: 5%;
	padding: 1%;
	font-size: 150%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 1%;
	border: 2px solid black;
}

#messageDiv {
    font-size: 300%;
    margin-top: 7%;
    margin-left: 23%;
}

.favoritesSearch, .favoritesSearchGuest {
	width: 90%;
	height: 5%;
	padding: 1%;
	font-size: 150%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 1%;
	border: 2px solid black;
}

.searchResults, .favoritesList, .spotifyFavoritesList {
	color: black;
	text-align: left;
	font-size: 150%;
	width: 93%;
}

.results li, .favoritesList li, .spotifyFavoritesList li {
	padding-bottom: 1%;
	padding-top: 1%;
	border-top: 3px solid #81c1db;
}

.hover {
	background-color: #dddddd;
}

.selected {
	background-color: grey;
}

.results {
	height: 80%;
	overflow-y: scroll;
}

.invisible {
	display: none;
}

#embedHider {
  width: 300px;
  height: 80px;
  position: relative;
  top: 50px;
  left: 50px;
  background: #eee;
  overflow-y: hidden;
}

#embedHider > div {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 25px;
  background: #555;
}

.switch {
  position: relative;
  display: inline-block;
  width: 8.5%;
  min-width: 60px;
  max-width: 60px;
  height: 80%;
}

#guestSwitch {
	width: 5%;
	min-width: 60px;
	max-width: 60px;
}

.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#switchLabel {
	color: black;
	float: left;
	padding-right: 2%;
}

.switchDiv {
	width: 90%;
	height: 10%;
	margin-top: 1.5%;
	margin-left: 3%;
}

.favButton {
	background: none;
	border: none;
	float:left;
}

.favButton i.material-icons {
	font-size: 32px;
	color: rgb(128, 128, 128);
}

ul.favoritesList {
	color: black;
	text-align: left;
	font-size: 150%;
}

#musicPlayer {
	padding-top: 2%;
	text-align: center;
	width: 100%;
	display: inline-block;
	justify-content: space-around;
}

#songDataDiv {
	padding-left: 3%;
	width: 55%;
	text-align: left;
	display: inline-flex;
	padding-bottom: 2%;
}

#songTitles {
	padding-left: 4%;
}

#progressBarDiv {
	width: 100%;
	display: inline-flex;
	padding-left: 19%;
	margin-bottom: -50%;
}

#controlsDiv {
	min-height: 100%;
}

#playButton, #pauseButton, #nextButton, #prevButton {
	background: none;
	border: none;
}

#playButton:focus, #pauseButton:focus{
	outline:none;
}

#playButton:hover, #pauseButton:hover{
	cursor: pointer;
}

#playButton i, #pauseButton i, #nextButton i, #prevButton i {
	font-size: 300%;
	color: white;
}

.guestControl {
	cursor: default !important;
}

#endButton, #leaveButton {
	background-color: #72d8d0;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
	padding: 5%;
	width: 100%;
	font-size: 200%;
	color: white;
	border: solid;
	border-width: 4px;
	border-color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin-top: 20%;
/*	margin: auto;*/
	transition: background-color 0.4s linear;	
}

.favHeaderButtonsDiv {
	width: 100%;
	display: inline-flex;
}

.favHeaderButtons {
	background-color: #72d8d0;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
	padding: 1%;
	width: 50%;
	font-size: 120%;
	color: white;
	border: solid;
	border-width: 4px;
	border-color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin: auto;
	transition: background-color 0.4s linear;
}

.favHeaderButtons:hover {
	transition: background-color 0.4s linear;
	background-color: #39aeb2;
}

.favSelected {
	background-color: #39aeb2
}

.favHeaderButtons:focus{
	outline:none;
}

.tabContentFavoritesGuest, .tabContentFavorites {
	overflow-y: scroll;
}

.elapsed, .duration {
	width: 4%;
}

.seshName {
	text-align: center;
}







