html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background: rgba(147,206,222,1);
	background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(93,240,186,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(93,240,186,1)));
	background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(93,240,186,1) 100%);
	background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(93,240,186,1) 100%);
	background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(93,240,186,1) 100%);
	background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(93,240,186,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#5df0ba', GradientType=1 );
	color: white;
}

#header {
	text-align: center;
	font-size: 70px;
	letter-spacing: 10px;
}

#login {
	display: flex;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10%;
}

#loginButton {
	-webkit-appearance: button;
	background-color: #72d8d0;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
	font-size: 350%;
	padding: 4%;
	color: white;
	border: solid;
	border-width: 4px;
	border-color: white;
	border-radius: 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin: auto;
	transition: background-color 0.4s linear;
	box-shadow: 8px 8px 5px 5px #298279;
}

h1 {
	margin: 2% 0% 0% 0%;
}

.createJoin {
	background-color: #72d8d0;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
	font-size: 450%;
	padding: 10%;
	color: white;
	border: solid;
	border-width: 4px;
	border-color: white;
	border-radius: 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin: auto;
	transition: background-color 0.4s linear;
	box-shadow: 8px 8px 5px 5px #298279;
}

.createJoin:focus {
	outline: none;
}

.createJoin:hover {
	transition: background-color 0.4s linear;
	background-color: #39aeb2;
}

#createJoin {
	width: 100%;
	height: 100%;
	margin-top: 10%;
	display: flex;
	justify-content: space-around;
}

#titles {
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
}

.footerButtons {
	background-color: #72d8d0;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
	/*font-size: 20px;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;*/
	/*width: 15%;*/
	padding: 1%;
	width: 22%;
	font-size: 120%;
	color: white;
	border: solid;
	border-width: 4px;
	border-color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin: auto;
	transition: background-color 0.4s linear;
}

.footerButtons:hover {
	transition: background-color 0.4s linear;
	background-color: #39aeb2;
}

#form-wrapper {
	width: 100%;
	margin-top: 5%;
}

#create_sesh {
	background: rgba(255, 255, 255, 0.4);
	font-size: 200%;
	width: 50%;
	padding: 2%;
	margin: 0 auto;
	box-shadow: 0 0px 80px 1px #298279, 0 0px 20px 1px #298279
}

#create_sesh form {
	width: 50%;
	margin-left: 25%;
}

#create_sesh label, #create_sesh input {
	display: block;
	margin-bottom: 5%;
}

#create_sesh input[type="text"] {
	color: #3f7a84;
}

input#private_sesh, input#public_sesh {
	margin-top: 7%;
	transform: scale(2);
}

#privacy_settings {
	display: inline-flex;
	width: 85%;
	justify-content: space-between;
	margin-bottom: 5%;
}

#formSubmit {
	background-color: #72d8d0;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
	/*font-size: 20px;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;*/
	/*width: 15%;*/
	padding: 1%;
	width: 60%;
	font-size: 120%;
	color: white;
	border: solid;
	border-width: 4px;
	border-color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin: auto;
	transition: background-color 0.4s linear;
}

#formSubmit:hover {
	transition: background-color 0.4s linear;
	background-color: #39aeb2;
}

.list-wrapper {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-around;
}

.tabContentPlaylist {
	width: 47%;
	height: 100%;
	background-color: white;
	overflow-y: scroll;
	font-size: 150%;
}

.tabContentPlaylistGuest, .tabContentRequestGuest {
	width: 75%;
	height: 100%;
	background-color: white;
	overflow-y: scroll;
	font-size: 150%;
}

.tabContentPlaylist ul, .tabContentPlaylistGuest ul, .tabContentRequestGuest ul {
	padding: 0 0 0 6%;

}

.tabContentPlaylist li, .tabContentRequestGuest li, .tabContentPlaylistGuest li {
	margin-left: -4%;
	color: black;
	width: 102%;
	height: 40px;
	border-top: 3px solid #81c1db;
	padding-left: 1%;
	padding-top: 1%;
}

.sortable-placeholder {
	border: 1px dashed #969696;
	background: #dbdbdb;
}

.sortable-dragging {
	background-color: #8fd4e8;
}

.tabContentSearch, .tabContentSearchGuest {
	width: 75%;
	height: 100%;
	background-color: white;
	display: block;
	text-align: center;
}

#footer {
	width: 100%;
	height: 15%;
	display: inline-flex;
/*	padding: 1.5%;
	padding-left: 27.5%;*/
}

#footer button.active {
	background-color: #39aeb2;
}

#footer button:focus {
	outline: none;
}

#party-list {
	width: 96%;
	height: 60%;
	background-color: white;
	margin-left: 2%;
	color: black;
	font-size: 150%;
	overflow-y: auto;
}

#party-list ul {
	width: 92%;
}

#party-list li {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
}

#partySubmit {
	margin-left: 40%;
	margin-top: 2%;
}

#songdiv {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
}

.voteButton {
	background: none;
	border: none;
}

.voteButton:focus{
	outline: none;
}

.material-icons {
	color: #b5b5b5;
}

.search {
	width: 90%;
	height: 5%;
	padding: 1%;
	font-size: 150%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 1%;
	border: 2px solid black;
}

.searchResults {
	color: black;
	text-align: left;
	font-size: 150%;
	width: 93%;
}

.results li {
	padding-bottom: 1%;
	padding-top: 1%;
	border-top: 3px solid #81c1db;
}

.selected {
	background-color: #dddddd;
}

.results {
	height: 80%;
	overflow-y: scroll;
}

.invisible {
	display: none;
}



